.habit-container {
    margin: 50px;
    padding: 30px;
    height: 400px;
    overflow-y: scroll;
}
.habit-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.habit-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-radius: 25px;
    background-color: #eaeaea;
    min-width: inherit;
}
.habit-row:not(:last-child) {
    margin-bottom: 16px;
}
.habit-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.habit-icon {
    font-size: 24px;
}
.habit-name {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.habit-kebab {
    font-size: 18px;
    background-color: none;
    outline: none;
    border: none;
    background: transparent;
    margin-left: 26px;
}

@media (max-width: 435px) {
    .habit-container {
        margin: 10px;
        padding: 10px;
        height: 280px;
    }
}
@media (max-width:375px) {

    .habit-container {
        margin: 50px 20px 20px 20px;
        padding: 10px;
        height: 400px;
    }
    
}