.form-control {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: 10px 25px;
  gap: 5px;
  justify-items: flex-start;
}
.form-label {
  color: #f1f1f4;
  font-size: 14px;
}
.input {
  padding: 15px 30px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #f1f1f4;
  background-color: #313131;
}
