.toast {
  position: absolute;
  top: 80%;
  right: 50%;
}
.toast- {
  display: none;
}
.toast {
  width: 18.75rem;
  padding: 0.75rem;
  background-color: #1f1f20;
  color: #f1f1f1;
  text-align: center;
}

.toast-warning {
  background-color: #e15e42;
  width: 18.75rem;
}

.toast-success {
  background-color: #82d520;
  width: 18.75rem;
}
