.home {
  background-color: #121213;
  width: 100%;
  height: 100vh;
  color: #f1f1f4;
  padding: 10px;
  position: relative;
}
.before-home {
  width: 100%;
  height: 100vh;
  background-color: #1f1f20;
  color: #f1f1f4;
  opacity: 0;
}
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-header {
  font-size: 9rem;
  opacity: 0;
}

.home-footer {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
  position: relative;
  top: 30%;
}
.basket-ball {
  position: absolute;
  width: 150px;
  z-index: 1;
  top: 30px;
  left: 45px;
  transform: rotate(74deg);
  opacity: 0;
}
.alarm {
  position: absolute;
  width: 100px;
  z-index: 1;
  top: -35px;
  left: 135px;
  transform: rotate(20deg);
  opacity: 0;
}
.book {
  position: absolute;
  width: 130px;
  z-index: 1;
  top: 30px;
  left: 190px;
  transform: rotate(-15deg);
  opacity: 0;
}
.vase {
  position: absolute;
  top: -15%;
  right: 15%;
  width: 150px;
  height: auto;
  z-index: 3;
}
.apple {
  position: absolute;
  top: 30%;
  right: 10%;
  height: auto;
  z-index: 3;
  transform: rotate(-40deg);
}
.bottle {
  position: absolute;
  top: 0;
  right: 45%;
  width: 100px;
  height: auto;
  z-index: 3;
  opacity: 0;
}
.mug {
  position: absolute;
  top: -13%;
  right: 5%;
  width: 80px;
  height: auto;
  z-index: 3;
}
.sneakers {
  position: absolute;
  bottom: 0%;
  right: 10%;
  width: 120px;
  z-index: 3;
  opacity: 0;
  transform: scaleX(-1);
}
.block-1 {
  width: 350px;
  height: 200px;
  background-color: #73bde7;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    34% 100%,
    34% 15%,
    66% 15%,
    66% 35%,
    34% 35%,
    34% 100%,
    100% 100%,
    100% 0%
  );
  border-radius: 25px;
  margin-left: 10px;
  align-self: self-end;
  z-index: 2;
  position: relative;
}

.block-2 {
  width: 400px;
  height: 300px;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    5% 100%,
    5% 60%,
    95% 60%,
    95% 100%,
    100% 100%,
    100% 0%
  );
  background-color: #1f1f20;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.btn-getStarted {
  align-self: center;
  font-size: 18px;
  padding: 15px 70px;
  background-color: #15ad70;
  outline: none;
  border: none;
  border-radius: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 768px) {
  .home-header {
    font-size: 7rem;
  }
  .block-1 {
    width: 250px;
    height: 150px;
  }
  .block-2 {
    width: 300px;
    height: 200px;
  }
  .btn-getStarted {
    padding: 10px 45px;
    font-size: 14px;
  }
  .basket-ball {
    width: 100px;
    top: 20px;
    left: 40px;
  }
  .book {
    width: 100px;
    top: 15px;
    left: 140px;
    transform: rotate(-25deg);
  }
  .alarm {
    width: 70px;

    top: -20px;
    left: 100px;
    transform: rotate(20deg);
  }
  .mug {
    width: 50px;
  }
  .apple {
    width: 40px;
    right: 20%;
  }
  .vase {
    width: 120px;
    top: -20%;
    right: 25%;
  }
  .sneakers {
    width: 80px;
    right: 15%;
  }
  .bottle {
    width: 70px;
    top: 6%;
  }
}
@media (max-width: 435px) {
  body {
    width: 435px;
    overflow: hidden;
  }
  .home-header {
    font-size: 4rem;
  }
  .home-footer {
    position: absolute;
    bottom: 0;
    width: inherit;
    margin-right: 5px;
  }
  .index {
    display: none;
  }
  .block-1,
  .block-2 {
    display: none;
  }
  .index + .vase {
    display: block;
    width: 150px;
    top: 52%;
    left: 20%;
  }
  .index + .apple {
    display: block;
    width: 60px;
    top: 74%;
    left: 60%;
    transform: rotate(0deg);
  }
  .btn-getStarted {
    padding: 15px 70px;
    align-self: flex-end;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .home-footer {
    position: absolute;

    bottom: 0;
    width: inherit;
    margin-right: 5px;
  }
  .btn-getStarted {
    align-self: flex-end;
    margin: 0 auto;
  }
}
