.auth-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    height: 700px;
    width: 500px;
    margin: 25px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: #1f1f20;
    padding: 16px;
    float: right;
}